

.bg{
	background-color: indianred;
}

h2{
	font-family: bree serif;
	font-size: 20px;
	font-weight: bold;
	margin: 2px;
}


.card{
	
	font-family: bree sans-serif;
	border-color: wheat;
	border-radius: 50px;
	border-width: 30px;
	margin: 10px;
	padding: 10px;
}

h4{
	font-size: 18px;
	color: black;
	font-weight: bold;

}

.image{
	margin: 12px;
	padd
}

